@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');


.auth-fonts{
  font-family: 'Nunito Sans' sans-serif;
  font-weight: 800;
}


input::placeholder {
  color: #C0C0C0;
  font-size: 15px;
  color: var(--grey, #C0C0C0);
  font-family: 'Inter', sans-serif;

font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */

}

input {
  border: none;
  outline: none;
  width: 335px;
padding: 10px 0px;
}